#szentirashu_wrapper { 
    display: none;
    border: 2px solid red;
    width: 300px;
    height: 150px;
    background: #333; 
    opacity: 0.9;
    border-radius: 15px;
    padding: 5px;
    color: #fff;
}
#szentirashu_wrapper img { 
    padding: 60px 130px;
}
#szentirashu_title {
    color: yellow;
    font-size: 15px;
    text-align: center;
}
#szentirashu_content span { 
    font-size: 10px;
}
